@using WebSoiSo.Models
@model List<CS_GetKQXSResult>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/_LayoutContent.cshtml";
    var dem = 0;
}

<div id="breadcrumb">
    <ol class="breadcrumb" style="margin-bottom: 0px">
        <li class="active">Miền Bắc</li>
        <li><a href="soi-cau-mien-trung.html">Miền Trung</a></li>
        <li><a href="soi-cau-mien-nam.html">Miền Nam</a></li>
    </ol>
    <div id="infoheader">
        @Html.Partial("_PartialDK_DN")
    </div>
    <div class="clear"></div>
</div>
<div id="hide_float_right_zone2" class="hideQCAlign">
    <a href="javascript:hide_float_right_zone2()">Tắt quảng cáo [X]</a>
</div>
<div id="float_content_right_zone2" class="QCAlign">
    <div class="zone" style=" font-size: 12pt; margin: 5px;padding: 0px;border-radius: 0px;">
        <ul>
            <li style="overflow: hidden;padding-bottom:5px;">
                <a href="http://giovangchotso9999.net/" rel="nofollow" target="_blank"><img alt="" src="https://giovangchotso.com/public/ads_upload/images/12-12-,281,29.gif.pagespeed.ce.hlG_13pu6C.gif" /></a>
            </li>
            <li style="overflow: hidden;padding-bottom:5px;">
                <a href="http://xosolocphat68.win/" rel="nofollow" target="_blank"><img alt="" src="https://giovangchotso.com/public/ads_upload/images/26-12-,282,29.gif.pagespeed.ce.KvxJ85wJCc.gif" /></a>
            </li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="alert alert-success text-center">
        <span class="text-warning adminchotso">ADMIN CHỐT SỐ DIỄN ĐÀN KHUNG GIỜ VÀNG </span>
        <br><span class="text-danger">(14:00:00 - 18:20:00)</span>
        <br>
        <div class="adminchotsoboard">
            <span>ADMIN đang chọn số diễn đàn kết nhất để chốt.</span>
        </div>
    </div>
</div>
<div class="row">
    <div id="kqxs_mb">
        <div class="box">
            <div class="box-title">
                <div class="icon_xoso icon_lokep">
                    <h1 style="display: inline">SOI CẦU LÔ MIỀN BẮC</h1>
                </div>
            </div>
        </div>
        <div id="thongbao" style="text-align: center;display: none;">
            <br>
            <h1>CHÚC QUÝ KHÁCH HÀNG XUÂN ĐINH DẬU - TÀI LỘC LIỀN TAY - VẬN MAY LIÊN TIẾP</h1>
            <br>
            <p> Xổ số Miền Bắc sẽ nghỉ quay vào các ngày 27,28,29,30 tháng 01 năm 2017 dương lịch</p>
        </div>
        <ul class="nav nav-tabs" role="tablist">
            @foreach (var item in (List<CS_GetSoXuatHienResult>)ViewBag.ListSo)
            {
                <li role="presentation"><a href="#soicaulo-mn-51" aria-controls="soicaulo-mn-51" role="tab" data-toggle="tab">@item.SoXuatHien (@item.SoLan lần)</a></li>
            }
            
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="soicaulo-mn-51">
                @for (int i = 0; i < (int)ViewBag.SoLan; i++)
                {
                    <table class="table table-bordered xsmb-table">
                    <tbody>
                        <tr>
                            <th colspan="13">Kết Quả Ngày @string.Format("{0:dd-MM-yyyy}",Model[dem].NgayXo)</th>
                        </tr>
                        <tr>
                            <td class="tb-title">ĐB</td>
                            <td colspan="12">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                        </tr>
                        <tr>
                            <td class="tb-title">G1</td>
                            <td colspan="12">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                        </tr>
                        <tr>
                            <td class="tb-title">G2</td>
                            <td colspan="6">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="6">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                        </tr>
                        <tr>
                            <td rowspan="2" class="tb-title">G3</td>
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                        </tr>
                        <tr>                            
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                        </tr>
                        <tr>
                            <td class="tb-title">G4</td>
                            <td colspan="3">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="3">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="3">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="3">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                        </tr>                        
                        <tr>
                            <td rowspan="2" class="tb-title">G5</td>
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                        </tr>
                        <tr>                            
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                        </tr>
                        <tr>
                            <td class="tb-title">G6</td>
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="4">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                        </tr>
                        <tr>
                            <td class="tb-title">G7</td>
                            <td colspan="3">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="3">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="3">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>
                            <td colspan="3">@Html.Raw(Helper.ReplaceSoXo(Model[dem].So, Model[dem].VitriDoXanh, Model[dem++].VitriXanh))</td>                            
                        </tr>                        
                    </tbody>
                </table>    
                }
                
            </div>           
        </div>
    </div>
</div>
<div class="fb-comments" data-href="http://chotso3mien.com" data-width="920px" data-numposts="5"></div>
<div class="row">
    <div class="block block-views">
        <div class="box-title">
            <div class="titleUpper icon_xoso icon_xsmb"><h1>Soi cầu liên quan</h1></div>
        </div>

        <div class="list">
            <ul>
                <li>
                    <span class="field-content">
                        <div class="float_left">
                            <a>
                                <img typeof="foaf:Image" src="http://xoso.homnay24h.com/sites/default/files/1.jpg" width="150" height="100" alt="">
                            </a>
                        </div>
                        <a href="/soi-cau-binh-duong-03-02-2017">Soi Cầu Miền Bắc 03-02-2017</a>
                    </span>
                </li>
                <li>
                    <span class="field-content">
                        <div class="float_left">
                            <a>
                                <img typeof="foaf:Image" src="http://xoso.homnay24h.com/sites/default/files/16.jpg" width="150" height="100" alt="">
                            </a>
                        </div>
                        <a href="/soi-cau-binh-duong-02-02-2017">Soi Cầu Miền Bắc 02-02-2017</a>
                    </span>
                </li>
                <li>
                    <span class="field-content">
                        <div class="float_left">
                            <a>
                                <img typeof="foaf:Image" src="http://xoso.homnay24h.com/sites/default/files/20.jpg" width="150" height="100" alt="">
                            </a>
                        </div>
                        <a href="/soi-cau-binh-duong-01-02-2017">Soi Cầu Miền Bắc 01-02-2017</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>
<div class="row">
    <div class="block block-views">
        <div class="box-title">
            <div class="titleUpper icon_xoso icon_xsmb"><h1>Tham khảo soi cầu</h1></div>
        </div>

        <div class="list">
            <ul>
                <li>
                    <span class="field-content">
                        <div class="float_left">
                            <a>
                                <img typeof="foaf:Image" src="http://xoso.homnay24h.com/sites/default/files/1.jpg" width="150" height="100" alt="">
                            </a>
                        </div>
                        <a href="/soi-cau-binh-duong-03-02-2017">Soi Cầu Miền Bắc 03-02-2017</a>
                    </span>
                </li>
                <li>
                    <span class="field-content">
                        <div class="float_left">
                            <a>
                                <img typeof="foaf:Image" src="http://xoso.homnay24h.com/sites/default/files/16.jpg" width="150" height="100" alt="">
                            </a>
                        </div>
                        <a href="/soi-cau-binh-duong-02-02-2017">Soi Cầu Miền Bắc 02-02-2017</a>
                    </span>
                </li>
                <li>
                    <span class="field-content">
                        <div class="float_left">
                            <a>
                                <img typeof="foaf:Image" src="http://xoso.homnay24h.com/sites/default/files/20.jpg" width="150" height="100" alt="">
                            </a>
                        </div>
                        <a href="/soi-cau-binh-duong-01-02-2017">Soi Cầu Miền Bắc 01-02-2017</a>
                    </span>
                </li>
            </ul>
        </div>
    </div>
</div>